h1 {
	 color: red;
	}
.back {
	color: white;
 	background: blue;
 	width: 100px;
 	margin-bottom: 100px;
}
.back:hover {
	opacity: 0.5;
}

p span {
	color: red;	
}
h2 {
	color: white;
	background: green;
	padding: 5px 5px;
}
ul li {
	border: 1px solid black;*/
	padding: 2.5px;
}
.rom {
	padding: 40px 40px;
}
.auto:hover {
	font-size: 30px;
}



